:root {
    --zerise-gradient: linear-gradient(to left, #feb940, #fe6730);
    --active-text: #F6F7F9;
    --inactive-test: rgb(128, 128, 128);
    --regular-text: rgba(0, 0, 0, 0.87);
}

body {
  margin: 0;
  background-color: var(--active-text);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
    padding: 24px;
    justify-content: center;
    display: flex;
}

form {
    max-width: 650px;
    width: 100%;
}

h1 {
    font-family: "Open Sans", "Raleway", sans-serif;
	font-weight: 400;
	line-height: 1.17;
}

ul {
    list-style-type: none;
    padding-left: 0rem;
}

.ui.form.form-header {
    background: var(--zerise-gradient);
    border-radius: 0.3rem;
}

.ui.header.main-header {
    padding: 1rem;
    color: var(--active-text);
}

.amount {
    display: grid;
    place-items: center;
    margin: 0 auto;
}

.error {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #f44336;
}

.contact {
    display: flex;
    flex-direction: row;
    margin: 2rem 0;
}

.contact-letter {
    background: var(--zerise-gradient);
    display: grid;
    place-items: center;
    flex-shrink: 0;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin-right: 1rem;
    color: white;
    font-size: 1.25rem;
}

.contact-details {
    width: 100%;
	box-shadow: 0 0 1px rgba(67, 76, 95, 0.5);
	border-radius: 0.3rem;
    display: flex;
    flex-direction: row;
    place-items: center;
}

.contact-details2 {
    padding-left: 25px;
    padding-top: 0px;
    flex-grow: 1;
}

.contact-buttons {
    padding-right: 25px;
}

.contact-edit-buttons {
    display: flex;
    justify-content: center;
}

.text-regular {
	color: var(--regular-text);
	font-size: 0.875rem;
	font-family: "Open Sans", "Raleway", sans-serif;
	font-weight: 400;
	line-height: 1.5;
    margin: 0;
}

.text-small {
	color: var(--regular-text);
	font-size: 0.75rem;
	font-family: "Open Sans", "Raleway", sans-serif;
	font-weight: 400;
	line-height: 1.66;
    margin:0;
}

.personal-text {
    font-weight: 700;
    margin-bottom: 0.3rem;
}

.payment {
    padding-top: 1rem;
    display: grid;
    place-items: center;
}

.payment-button {
    background: var(--zerise-gradient) !important;
}


